/* scrollbar */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'simplebar-react/dist/simplebar.min.css';

.captcha {
    margin: 0 auto;
    width: 65%;
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
    .captcha {
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    .captcha {
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .captcha {
        width: 93%;
    }
}

@media screen and (max-width: 375px) {
    .captcha {
        width: 100%;
        float: left;
    }
}

/*  model responsive  */

@media screen and (max-width: 2400px) {
    .style_modal {
        /* width: 1000px; */
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .style_modal {
        /* width: 1000px; */
        width: 90%;
    }
}


@media screen and (max-width: 1024px) {
    .style_modal2 {
        width: 70%;
    }
}

@media screen and (max-width: 2400px) {
    .style_modal2 {
        /* width: 1000px; */
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .style_modal2 {
        /* width: 1000px; */
        width: 80%;
    }
}


@media screen and (max-width: 1024px) {
    .style_modal {
        width: 80%;
    }
}

#standard-error-helper-text:focus{
    box-shadow: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 200px;
  }



/* tr:nth-child(even) {
    background-color: #D6EEEE;
  } */