/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Diphylleia', serif;
}
.captcha {
    margin: 0 auto;
    width: 65%;
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
    .captcha {
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    .captcha {
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .captcha {
        width: 93%;
    }
}

@media screen and (max-width: 375px) {
    .captcha {
        width: 100%;
        float: left;
    }
}

/*  model responsive  */

@media screen and (max-width: 2400px) {
    .style_modal {
        /* width: 1000px; */
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .style_modal {
        /* width: 1000px; */
        width: 90%;
    }
}


@media screen and (max-width: 1024px) {
    .style_modal2 {
        width: 70%;
    }
}

@media screen and (max-width: 2400px) {
    .style_modal2 {
        /* width: 1000px; */
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .style_modal2 {
        /* width: 1000px; */
        width: 80%;
    }
}


@media screen and (max-width: 1024px) {
    .style_modal {
        width: 80%;
    }
}

#standard-error-helper-text:focus{
    box-shadow: none;
}

#standard-basic:focus{
    box-shadow: none;
}
.standard-basic2:focus{
    box-shadow: none;
}
.standard-basic2{
    box-shadow: none;
}
#demo-simple-select{
    box-shadow: none;
    border: none;
}
#demo-simple-select:focus{
    box-shadow: none;
    border: none;
}
#demo-simple-select:hover{
    box-shadow: none;
    border: none;
}

@media screen and (max-width: 425px) {
    .hide {
        display: none;
    }
}
@media screen and (max-width: 560px) {
    .hide2 {
        display: none;
    }
}


.swal2-container{
    z-index: 100000;
}

#controllable-states-demo{
    box-shadow: none;
}

#controllable-states-demo:focus{
    box-shadow: none;
}

#controllable-states-demo:hover{
    box-shadow: none;
}

@media screen and (min-width: 1200px) {
    .minheight {
        min-height: 100vh !important;
    }
}

@media screen and (max-width: 1200px) {
    .css-zlc8ed {
        min-height: 0px !important ;
    }
}




