/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.captcha {
    margin: 0 auto;
    width: 65%;
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
    .captcha {
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    .captcha {
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .captcha {
        width: 93%;
    }
}

@media screen and (max-width: 375px) {
    .captcha {
        width: 100%;
        float: left;
    }
}

/*  model responsive  */

@media screen and (max-width: 2400px) {
    .style_modal {
        /* width: 1000px; */
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .style_modal {
        /* width: 1000px; */
        width: 90%;
    }
}


@media screen and (max-width: 1024px) {
    .style_modal2 {
        width: 70%;
    }
}

@media screen and (max-width: 2400px) {
    .style_modal2 {
        /* width: 1000px; */
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .style_modal2 {
        /* width: 1000px; */
        width: 80%;
    }
}


@media screen and (max-width: 1024px) {
    .style_modal {
        width: 80%;
    }
}

#standard-error-helper-text:focus{
    box-shadow: none;
}

#standard-basic:focus{
    box-shadow: none;
}
.standard-basic2:focus{
    box-shadow: none;
}
.standard-basic2{
    box-shadow: none;
}
#demo-simple-select{
    box-shadow: none;
    border: none;
}
#demo-simple-select:focus{
    box-shadow: none;
    border: none;
}
#demo-simple-select:hover{
    box-shadow: none;
    border: none;
}

thead{
    background-color: black;
    color: white;
    opacity: 0.4;
}
tr, th, td{
    display: flex;
    justify-content: center;
    height:  50px;
    margin: auto;
    padding: auto;
    font-size: 20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color:  #f0f0f0;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    /* width: 280px; */
  } 

 @media screen and (min-width: 0px) {
    td, th {
        width: 90px;
    }
  } 

  @media screen and (min-width: 450px) {
    td, th {
        width: 130px;
    }
  } 

  @media screen and (min-width: 710px) {
    td, th {
        width: 170px;
    }
  } 

  @media screen and (min-width: 920px) {
    td, th {
        width: 200px;
    }
  } 
  @media screen and (min-width: 1210px) {
    td, th {
        width: 230px;
    }
  }
  @media screen and (min-width: 1390px) {
    td, th {
        width: 270px;
    }
  }
  @media screen and (min-width: 1550px) {
    td, th {
        width: 300px;
    }
  }
  @media screen and (min-width: 1650px) {
    td, th {
        width: 306px;
    }
  }



